{% extends "base.html" %}

{% block content %}
  <h1>{{ project.title }}</h1>
  <p>Max Players: {{ project.max_players }}</p>
  <p>Has Actor: {{ project.has_actor }}</p>
  <p>Scenario: {{ project.scenario }}</p>
  
  <h2>Riddles:</h2>
  <ul>
    {% for riddle in project.riddle_set.all %}
      <li>{{ riddle.description }}</li>
    {% endfor %}
  </ul>
  
  {% if user.is_authenticated and project.user == user %}
    <a href="{% url 'rooms:project_update' project.pk %}" class='btn btn-primary'>Update</a>
  {% endif %}
  {% if user.is_authenticated and project.user == user and not hide_delete %}
    <a href="{% url 'rooms:project_delete' project.pk %}" class="btn btn-danger">Delete</a>
  {% endif %}
{% endblock %}