{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

    <h4>
        {% if not form.instance.pk %}
        Create a new Room!
        {% else %}
        Update Room!
        {% endif %}
    </h4>
    {% if not form.instance.pk %}
        <div>
            <form action="{% url 'rooms:project_create' %}" method='POST'>
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class='btn btn-info' value='Create Room'>
            </form>
        </div>
    {% else %}
        <form action="{% url 'rooms:project_update' pk=project.pk %}" method='POST'>
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class='btn btn-info' value='Update Room'>
        </form>
    {% endif %}
{% endblock content %}